.form-products {

  @include flex-layout(center, flex, column, center);
  min-height: 80vh;
  form {
    width: 60%;
    @include flex-layout(center, flex, column, center);
    input {
      width: 100%;
      margin: 10px;
      padding: 10px;
      display: table;
    }
    img{
      width: 50%;
      margin: 10px;
    }
    button {
      padding: 10px;
      border: none;
      background: siver;
      margin: 10px;
      width: 100%;
    }
  }
}