.search {
    .search-items {
        @include flex-layout(center, flex, inherit, flex-end);
        .field {
            position: relative;
            width: 0px;
            @include transition(0.8s);
            input {
            	border: none;
                padding: 3px;
                width: 100%;
                visibility: hidden;
                padding-right: 20px;
                @include transition(0.5s);
            }
        }
        &.active {
            //background: #fff;
            //border: solid 1px silver;
            .field {
                width: 180px;
                input {
                    visibility: visible;
                }
            }
        }
        .icon {
            margin: 0 3px;
            cursor: pointer;
            z-index: 100;
        }
    }
}
